# Normalization
- What's data normalization? and Why we need to do that?
- To Read [Link](https://estuary.dev/blog/data-normalization/)

In [ ]:
import pandas as pd

##### Try to understand json_normalize()
- How Pandas json_normalize() works?

In [2]:
## simple dict
a_dict = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
}

df = pd.json_normalize(a_dict)
print(df)

               school location  ranking
0  ABC primary school   London        2

In [3]:
## list of dicts
json_list = [
    { 'class': 'Year 1', 'student number': 20, 'room': 'Yellow' },
    { 'class': 'Year 2', 'student number': 25, 'room': 'Blue' },
]
pd.json_normalize(json_list)

    class  student number    room
0  Year 1              20  Yellow
1  Year 2              25    Blue

In [5]:
## list of dicts - missing attributes
json_list = [
    { 'class': 'Year 2', 'room': 'Blue' }, # no num_of_students
    { 'class': 'Year 1', 'num_of_students': 20, 'room': 'Yellow' },  
]
pd.json_normalize(json_list)

    class    room  num_of_students
0  Year 2    Blue              NaN
1  Year 1  Yellow             20.0

`max_level` - Max number of levels(depth of dict) to normalize. if None, normalizes all levels.

In [9]:
## JSON with multiple levels (nested dictionaries)
json_obj = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
    'info': {
        'president': 'John Kasich',
        'contacts': {
          'email': {
              'admission': 'admission@abc.com',
              'general': 'info@abc.com'
          },
          'tel': '123456789',
      }
    }
}
pd.json_normalize(json_obj, max_level=3)

,school,location,ranking,info.president,info.contacts.email.admission,info.contacts.email.general,info.contacts.tel
0,ABC primary school,London,2,John Kasich,admission@abc.com,info@abc.com,123456789

In [ ]:
## JSON with multiple level (nested list)
json_obj = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
    'info': {
        'president': 'John Kasich',
        'contacts': {
          'email': {
              'admission': 'admission@abc.com',
              'general': 'info@abc.com'
          },
          'tel': '123456789',
      }
    },
    'students': [
      { 'name': 'Tom' },
      { 'name': 'James' },
      { 'name': 'Jacqueline' }
    ],
}
pd.json_normalize(json_obj, max_level=2)

In [20]:
pd.json_normalize(json_obj, record_path=['students'])

         name
0         Tom
1       James
2  Jacqueline

In [35]:
pd.json_normalize(json_obj, record_path=['students'], meta=['school', ['info', 'contacts', 'email', 'general'], ['info', 'contacts', 'email', 'admission']], meta_prefix="meta_", sep="|")

,name,meta_school,meta_info|contacts|email|general,meta_info|contacts|email|admission
0,Tom,ABC primary school,info@abc.com,admission@abc.com
1,James,ABC primary school,info@abc.com,admission@abc.com
2,Jacqueline,ABC primary school,info@abc.com,admission@abc.com

In [ ]:
pd.json_normalize(json_obj, record_path=['students'], meta=['school', 'location', 'ranking'], meta_prefix="meta_")

In [19]:
pd.json_normalize(json_obj, record_path=['students'], meta=['school', 'location',['info','president']], meta_prefix="meta_")

         name         meta_school meta_location meta_info.president
0         Tom  ABC primary school        London         John Kasich
1       James  ABC primary school        London         John Kasich
2  Jacqueline  ABC primary school        London         John Kasich

In [ ]:
pd.json_normalize(json_obj, record_path=['students'], meta=['school', ['info', 'contacts', 'email', 'admission'], ['info', 'contacts','tel']], meta_prefix="meta_", sep='->')